.btn {
  padding: 2rem 4rem;
  border: 2px solid var(--button-border);
  color: var(--button-text, black);
  background: transparent;
  font-size: 1.6em;
  border-radius: 2px;
}

.btn:hover {
  background-color: var(--bg-color, white);
  color: var(--button-text, white);
}
/* Créer les variables CSS correpondantes aux classes des différents boutons

Ne pas oublier l'effet au survol (effet inversé / fond de la variable de couleur)*/

.normal {
  --button-border: black;
  --bg-color: black;
}

.red {
  --button-border: red;
  --bg-color: red;
}

.green {
  --button-border: green;
  --bg-color: green;
}

.yellow {
  --button-border: yellow;
  --bg-color: yellow;
  --button-text: black
}

.blue {
  --button-border: blue;
  --bg-color: blue;
}
